<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1 class="headline">All Lists</h1>
    </header>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <%= link_to "Top", top_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "Lists", lists_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "New List", new_list_path %>
        </li>
      </ul>
    </nav>
    <main>
      <!--フラッシュメッセージの実装の共通化（成功時と失敗時それぞれに表示）-->
      <!--<div>-->
      <!--  <%#= flash[:notice] %>-->
      <!--</div>-->
      
      <!--flashにeachメソッドを実行でキー（例 :notice）と対応する値（例 "投稿に成功しました。"）を取り出す-->
        <% flash.each do |message_type, message| %>
      <!--取り出したキーはmessage_type、値はmessageに代入する-->
          <div class="flash-message <%= message_type %>"><%= message %></div>
      <!--<div class="flash-message notice">投稿に成功しました。</div>-->
        <% end %>
      
      <%= yield %>
    </main>
  
  </body>
</html>
